/* Sort by filtering styles for mobile devices */
/* Global */
.sort-by-divider {padding-left: 1.6em; padding-right: 1.6em; display: flex; justify-content: space-between; flex-wrap: wrap; align-items: flex-end; z-index: 350; position: relative; }
.lottie-container {cursor: pointer;} 
.custom-dropdown:hover div.selected-value, .custom-dropdown:hover span.custom-arrow {scale: 1.02; transition: ease-in 0.1s;}
.students-heading, .sort-container, .selected-value h5 {pointer-events: none; user-select: none; touch-action: none;}

/* Sort by filtering for mobile devices */
@media screen and (max-width: 768px) { 
/* Sort by general styles */    
#sort {width: 100%; height: 14.4vw; border-radius: 1px; padding-left: 16px;}
.sort-by-container {width: clamp(48%, 48vw, 48%); display: flex; align-items: center; z-index: 10; position: relative;flex-direction: column; align-items: center; padding-right: 12px; padding-top: 8px;}
.sort-container2 {min-width: 100%; align-self: flex-end;} 
.sort-container {align-self: flex-start; position: relative; bottom: -6px; left: 4px;}

/* Drop-down */
.custom-dropdown {border-radius: 2px; position: relative; cursor: pointer; background: #222222; 
appearance: none; -webkit-appearance: none; -moz-appearance: none;}

/* Arrow state */
.custom-arrow {position: absolute; right: 18px; top: 50%; transform: translateY(-50%); pointer-events: none;}
.custom-arrow div {width: 17px; height: 17px;}
.custom-arrow.open {transform: translateY(-50%) rotate(180deg);}

/* Selected option style changes */
div.option.selected {background-color: #252527;}
.selected-value {padding: 14px 14px 14px 18px;}
.option, div.option.selected {color: #ffffff; margin-top: 2px; margin-bottom: 2px; font-size: clamp(14px, 3.2vw, 32px); font-family: 'rubik'; font-weight: 300; letter-spacing: 0.4px; padding-left: 20px;}
div.option.selected {padding-bottom: 12px; padding-top: 12px;} .option {padding-bottom: 8px; padding-top: 8px;}
.option:hover {scale: 1.02; transition: 0.05s ease-in; transform: translateX(2px);}
div.option.selected:hover {scale: 1; transform: translateX(0px);}
.option {padding-bottom: 8px; padding-top: 8px;} div.option.selected {padding-top: 12px; padding-bottom: 12px;}
.options-container {position: absolute; z-index: 1000; background: #202020; width: 100%; right: -1.8px;  top: calc(100% - 8px); padding-top: 8px; padding-bottom: 8px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px;}

/* Students Heading */
.students-heading {position: relative; top: 32px; left: 2px;}

/* Pause Button styles */
.pause-button-wrapper {padding-bottom: 4.2em; padding-left: 1.6em;}
.lottie-container {width: 2.4em; height: 2.4em; z-index: 100; position: relative; top: 1.2em;}
}


/* Sort by filtering for tablet devices */
@media screen and (min-width: 768px) and (max-width: 1024px) { 
/* Sort by general styles */  
.sort-by-divider {z-index: 350; position: relative; padding-left: 2.2em; padding-right: 2.2em; padding-bottom: 1.2em;}
#sort {width: 100%; height: 14.4vw; border-radius: 1px; padding-left: 16px;}
.sort-by-container {display: flex; align-items: center; z-index: 10; position: relative;flex-direction: column; align-items: center; padding-right: 16px; min-width: 26%;}
.sort-container2 {min-width: 100%; align-self: flex-end;} 
.sort-container {align-self: flex-start; position: relative; bottom: -6px; left: 4px;}

/* Drop-down */
.custom-dropdown {border-radius: 2px; position: relative; font-size: 16px; cursor: pointer; box-shadow: 12px 12px #b1c9bb; background: #222222; 
appearance: none; -webkit-appearance: none; -moz-appearance: none; }

/* Arrow state */
.custom-arrow {position: absolute; right: 20px; top: 50%; transform: translateY(-50%); pointer-events: none;}
.custom-arrow div {width: 21px; height: 21px;}
.custom-arrow.open {transform: translateY(-50%) rotate(180deg);}

/* Selected option style changes */
div.option.selected {background-color: #252527;}
.selected-value {padding: 16px 16px 16px 20px;}
.option, div.option.selected {color: #ffffff; font-size: clamp(8px, 2.2vw, 20px); font-family: 'rubik'; font-weight: 300; letter-spacing: 0.4px; padding-left: 20px;}
.option:hover {scale: 1.02; transition: 0.05s ease-in; transform: translateX(2px);}
div.option.selected:hover {scale: 1; transform: translateX(0px);}
.option {padding-bottom: 16px; padding-top: 16px;} div.option.selected {padding-top: 18px; padding-bottom: 18px;}
.options-container {position: absolute; z-index: 1000; background: #222222; width: 100%; right: -1.8px;  top: calc(100% - 8px); padding-top: 8px; padding-bottom: 8px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px;}

/* Students Heading */
.students-heading {position: relative; top: 36px;}

/* Pause Button styles */
.pause-button-wrapper {padding-bottom: 3.2em; padding-left: 2.4em;}
.lottie-container {width: 2.8em; height: 2.8em; z-index: 100; position: relative;}
}


/* Sort by filtering for desktop */
@media screen and (min-width: 1025px) { 
/* Sort by general styles */  
.sort-by-divider {padding-right: 28px; padding-top: 32px;}
#sort {width: 100%; height: 14.4vw; border-radius: 1px; padding-left: 16px;}
.sort-by-container {display: flex; z-index: 10; position: relative; flex-direction: column; align-items: center; padding-right: 0px; width: 50%;}
.sort-container2 {min-width: 30%; align-self: flex-end;} 
.sort-container {min-width: 30%; align-self: flex-end; position: relative; bottom: -6px; left: 4px;}

/* Drop-down */
.custom-dropdown {position: relative; cursor: pointer; box-shadow: 12px 12px #b1c9bb; background: #222222; 
appearance: none; -webkit-appearance: none; -moz-appearance: none; border-radius: 2px;}
/* Arrow state */
.custom-arrow {position: absolute; right: 14px; top: 50%; transform: translateY(-50%); pointer-events: none;}
.custom-arrow div {width: 16px; height: 16px;}
.custom-arrow.open {transform: translateY(-50%) rotate(180deg);}

/* Selected option style changes */
div.option.selected {background-color: #252527;}
.selected-value {padding: 13px 12px 13px 18px;}
.option, div.option.selected {color: #ffffff; margin-top: 2px; margin-bottom: 2px; font-size: clamp(8px, 1.1vw, 16px); font-family: 'rubik'; font-weight: 300; letter-spacing: 0.4px; padding-left: 20px;}
.option:hover {scale: 1.02; transition: 0.05s ease-in; transform: translateX(2px);}
div.option.selected:hover {scale: 1; transform: translateX(0px);}
.option {padding-bottom: 8px; padding-top: 8px;} div.option.selected {padding-top: 12px; padding-bottom: 12px;}
.options-container {position: absolute; z-index: 1000; background: #222222; width: 100%; right: -1.6px;  top: calc(100% - 8px); padding-top: 8px; padding-bottom: 8px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px;}

/* Students Heading */
.students-heading {position: relative; top: 36px; left: 0px;}

/* Pause Button styles */
.pause-button-wrapper {padding-left: 20%; padding-top: 12px;}
.lottie-container {width: 3.2em; height: 3.2em; z-index: 100; position: relative;}

#shadow-dynamic-app .sort-by-container {transform: scale(0.8);}
#shadow-dynamic-app .sort-by-divider {padding-left: 8em; padding-right: 8em; padding-bottom: 2.4em; padding-top: 2.4em;}
#shadow-dynamic-app .sort-container2, #shadow-dynamic-app .sort-container  {min-width: 42%;} 
#shadow-dynamic-app .custom-arrow {top: 50%;}
#shadow-dynamic-app .pause-button-wrapper {padding-left: 16em; padding-top: 1.2em; transform: scale(0.95);}
#shadow-dynamic-app .students-heading {left: 4px;}
#shadow-dynamic-app span.custom-arrow.open {transform: translateY(-50%) rotate(180deg) !important; top: 50% !important;}
}
@media screen and (min-width: 2025px) { 
#shadow-dynamic-app .sort-by-container {transform: scale(0.95) !important;}
#shadow-dynamic-app .sort-container2, #shadow-dynamic-app .sort-container {min-width: 33% !important;}
.sort-by-container {transform: scale(1.1) !important; align-content: flex-end; flex-wrap: wrap; margin-right: 3%;}
.sort-container2, .sort-container {min-width: 20% !important;}
.sort-by-divider {padding-top: 96px; padding-left: 4%; padding-right: 4%;}
#shadow-dynamic-app .sort-by-divider {padding-left: 8em; padding-right: 8em; padding-top: 16em !important; padding-bottom: 1.2em; padding-top: 0px;}
.selected-value {padding: 16px 14px 16px 21px;}
#shadow-dynamic-app .students-heading {left: 48px;}
.sort-by-divider {padding-top: 256px;}
.lottie-container {width: 4.2m; height: 4.2em;}
}