.block-type-g {height: 98dvh;
max-width: 100%;
display: flex;
flex-wrap: wrap;
align-content: space-between;
/* Subtle top lighting using gradient */
background: linear-gradient(145deg, #1A1A1D, #222225); /* Fallback and solid base */}

.q5-normal {width: 100%; height: 100%;}

.countdown-display {position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; 
display: flex; align-items: center; justify-content: center; z-index: 9999; pointer-events: none;}

/* Coin counter styles */
.coin-counter {position: absolute; z-index: 10000; pointer-events: none; 
display: flex; justify-content: space-between; width: 100%;}
.coin-amount {padding-left: 16px; color: rgb(255, 205, 55); text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);}
.high-score {padding-right: 16px; color: rgb(255, 205, 55); text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);}

/* Onboarding block styles */
.block-g-onboarding {top: 0; left: 0; width: 100%; height: 100%; background: transparent; display: flex; align-items: center;
justify-content: center; cursor: pointer; z-index: 999; position: absolute;}
.onboarding-text {text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.8);}

/* Game over block styles */
.block-g-gameover {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: transparent;
display: flex; flex-direction: column; align-items: center; justify-content: center; cursor: pointer; z-index: 9999;}
