.block-type-g {height: 98dvh;
max-width: 100%;
display: flex;
flex-wrap: wrap;
align-content: space-between;
/* Subtle top lighting using gradient */
background: linear-gradient(145deg, #1A1A1D, #222225); /* Fallback and solid base */}

.q5-normal {width: 100%; height: 100%;}
.evade-the-rock #q5Canvas0 {}