body { background-color: #151515; font-family: 'Poppins', sans-serif; font-size: clamp(0.8rem, 1vw, 1rem); line-height: 1.6; color: #e0e0e0; margin: 0; padding: 0; }
.HereGoesNothing {height: 200vh; overflow: hidden; }

h1, h2, h3 { font-family: 'Heebo', sans-serif;}

h1 { font-size: clamp(2rem, 5vw, 3rem); color: #ffffff; }
h2 { font-size: clamp(1.5rem, 4vw, 2.25rem); color: #f0f0f0; }
p  { font-size: clamp(1rem, 1.2vw, 1.1rem); margin-bottom: 1em; color: #cccccc; }

@media (max-width: 767px) {
  h1 { font-size: clamp(2rem, 7.2vw, 2.4rem); font-weight: 400; letter-spacing: 0.07rem; }
  h2 { font-size: clamp(1.6rem, 4.8vw, 2rem); font-weight: 400; letter-spacing: 0.07rem;}
  p  { font-size: clamp(0.95rem, 3vw, 1rem); }
}

@media (min-width: 768px) and (max-width: 1024px) {
  h1 { font-size: clamp(2rem, 4vw, 2.6rem); }
  h2 { font-size: clamp(1.4rem, 3.5vw, 2rem); }
  p  { font-size: clamp(1rem, 1vw, 1.1rem); }
}

@media (min-width: 1025px) {
  h1 { font-size: clamp(2.2rem, 3vw, 3rem); }
  h2 { font-size: clamp(1.6rem, 2.5vw, 2.4rem); }
  p  { font-size: clamp(1.05rem, 0.8vw, 1.15rem); }
}

.nav-menu {display: flex; justify-content: space-between; align-items: center; position: fixed; width: 100%;
padding-top: 8px; padding-bottom: 24px; z-index: 1000;     
background: linear-gradient(to bottom, rgb(18, 18, 20) 0%, rgba(18, 18, 20, 0.8) 6%, rgba(18, 18, 20, 0.3) 50%, transparent 75%);}
.nav-left {padding: 16px;} .nav-right {padding: 16px; gap: 16px; display: flex;}

.logo-svg {display: block;
}
.icon-svg {cursor: pointer; transition: transform 0.2s ease;
}
.icon-svg:hover {transform: scale(1.1);
}
