/* Block Type A styles */
.block-type-a { width: 100%; background: #191919; display: flex; justify-content: center; align-items: center; min-height: 60vh; padding: 0; overflow: hidden; }

.device-wrapper { position: relative; width: 100%; margin: 0 auto; }
.device-frame { width: 100%; height: auto; display: block; z-index: 1100; position: relative; pointer-events: none; touch-action: none; }
.screen-overlay { position: absolute; overflow: hidden; display: flex; align-items: center; justify-content: center; z-index: 1000; }

.embedded-app { width: 100%; height: 100%; overflow: auto; background: #191919; scrollbar-width: none; -ms-overflow-style: none; }
.embedded-app::-webkit-scrollbar { display: none; }

/* only on phoné */
.phone { height: 96dvh; }
/* only on tablét */
.tablet { height: 84%; padding-top: 12%;}
/* only on laptop */
.laptop { height: calc(100% - 12px); }

/* Media Queries */
@media (max-width: 767px) {
  .block-type-a { height: 98dvh; }
  .device-wrapper {width: 94dvh; aspect-ratio: 19.5/9;}
  .device-frame {display: block; margin: 0 auto;}
  .screen-overlay  {        top: 10%;
        left: 2%;
        width: 94%;
        height: 81%;} 
}

@media (min-width: 768px) and (max-width: 1024px) {
  .block-type-a {height: 92dvh; }
  .device-wrapper {width: 96dvh; aspect-ratio: 3 / 4;}
  .device-frame {display: block; margin: 0 auto;}
  .screen-overlay  {top: 13%;  left: 13%; width: 74%; height: 78%;} 

}

@media (min-width: 1025px) and (max-width: 2024px) {
  .block-type-a {height: 96dvh; }
  .device-wrapper {max-width: 154dvh; aspect-ratio: 16 / 10;}
  .screen-overlay  {top: 6%; left: 4%; width: 92%; height: 88%;} 
}

@media (min-width: 2025px) {
  .block-type-a {height: 98dvh; }
  .device-wrapper {max-width: 120dvh; aspect-ratio: 16 / 10;}
  .screen-overlay  {top: 6%; left: 4%; width: 92%; height: 88%;} 
}

.embedded-app {
  touch-action: pan-y;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  max-height: 100%;
}
