/* Firework q5-canvas styles */
/* canvas {background-color: #1e1e1f;} /* Background colors just incase to avoid color flickering */
.firework-divider { pointer-events: none; display: block; position: absolute; background-color: #1e1e1f;}
.q5Canvas {display: block; width: 100% !important; height: 125% !important; overflow: hidden; /* background-color: #1e1e1f; */}

#shadow-dynamic-app .firework-wrapper {position: relative; width: 100%; z-index: 1;}
#shadow-dynamic-app .firework-divider {  position: absolute; top: 0; left: 0;
width: 100%; height: 48vw; z-index: 1; pointer-events: none;} 

@media screen and (max-width: 767px) {
.firework-divider {height: 15em; margin-top: -0.8em;}  
#shadow-dynamic-app .firework-divider {height: 0em !important; margin-top: -3.6em; background-color: transparent !important;} 
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
.firework-divider {margin-top: -6.8em;}  
.firework-divider-shadow {height: 60vw;}
}
@media screen and (min-width: 1025px) {
.firework-divider {margin-top: -10.8em;} 
.firework-divider-shadow {transform: scale(0.95);
height: 50vw;} 
}
@media screen and (min-width: 1225px) {
.firework-divider {margin-top: -12.8em;}  
.firework-divider-shadow {transform: scale(1.15);
height: 42vw;} 
}
@media screen and (min-width: 2025px) {
.firework-divider-shadow  {transform: scale(2);}
.firework-divider  {margin-top: -12.8em; overflow: hidden;}
.q5-normal {transform: scale(1.4);}
.firework-divider-shadow {height: 32vw !important;}
}